@page
@model TorneoFutbolDptl.App.Frontend.Pages.DesempenoEquipos.IndexModel
@{
}
@{var Puesto=0;}
<h1>Clasificación 📊</h1>
<a class="btn btn-primary" asp-page="./Create">Agregar Desempeño</a>
<p></p>
<table class="table">
	<thead>
		<tr>
			<th scope="col">Puesto</th>
			<th scope="col">Equipo</th>
			<th scope="col">PJ</th>
			<th scope="col">PG</th>
			<th scope="col">PP</th>
			<th scope="col">PE</th>
			<th scope="col">GF</th>
			<th scope="col">GC</th>
			<th scope="col">Total Puntos</th>
		</tr>
	</thead>
	</tbody>
	
	@foreach (var desempenoEquipo in Model.desempenoEquipos)
	{Puesto = Puesto +1;
		<tr>
		    <td>@Puesto</td>   
		 	<td>@desempenoEquipo.Equipo</td>
			<td>@desempenoEquipo.PartidosJugados</td>
			<td>@desempenoEquipo.PartidosGanados</td>
			<td>@desempenoEquipo.PartidosPerdidos</td>
			<td>@desempenoEquipo.PartidosEmpatados</td>
			<td>@desempenoEquipo.GolesAFavor</td>
			<td>@desempenoEquipo.GolesEnContra</td>
			<td>@desempenoEquipo.PuntosAcumulados</td>
			<td>

				<a class="btn btn-secondary" asp-page="./Details" asp-route-id="@desempenoEquipo.Id">Detalles</a>
				<a class="btn btn-secondary" asp-page="./Edit" asp-route-id="@desempenoEquipo.Id">Editar</a>
				<a class="btn btn-secondary" asp-page="./Delete" asp-route-id="@desempenoEquipo.Id">Eliminar</a>
			</td>
		</tr>
	}
	</tbody>
</table>